*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Font cabecera */
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/*formato titulo principal*/

.titulo{
    text-align: center; 
    padding-bottom: 1%;
    color:black;
    background-color: white;

}

/* Font Principal */
.font-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white
}

/* Formato Cabecera */

.cabecera{
    text-align: center;

}

/*Formato Banner*/

.banner{
    object-fit: fill;
    height: 150px;

}

/* color fondo */

.color-fondo{
    background-color: #2B60B3;

}

/* Formato footer */

.footer{
    color:black;
    background-color: white;
    padding: 2rem;
    text-align: center;
}


/* Formato Body */

body{
    background-image: url('/Imagenes/beautiful-young-woman-home-office-working-from-home-teleworking-concept.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    max-width: fit-content;
}

/*formato navegador*/

.navegador{
    color: white
    
}


/* Formato Main */

main{
    gap: 3rem
}

/*formato articulo*/

article{
    padding: 3rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

/*Formato Imagenes Porfolio*/

.imagen-porfolio{
    height: 300px;
    width: 300px;
    margin: 35px;

}

/*Formato Porfolio*/

h3{
    padding: 1rem;

}

.elemento-porfolio{
    text-align: center;

}

/*Formato Formulario de Contacto*/

.formulario{
    background-color: #2B60B3;
    align-content: center;

    
}
.button[type="submit"]:hover {
    background-color: #4cae4c;
}

.valores{
    color: white

}

/*Formato Listas*/

li{
    list-style: none;
}

/*Formato parrafos*/

p{
    padding: 1rem;
}


/*Sombra Texto */

h1 {
    text-shadow: 
      2px 2px 0 #000, 
      -2px -2px 0 #000, 
      2px -2px 0 #000, 
      -2px 2px 0 #000, 
      2px 0 0 #000, 
      -2px 0 0 #000, 
      0 2px 0 #000, 
      0 -2px 0 #000;
  }

h2 {
    text-shadow: 
      2px 2px 0 #000, 
      -2px -2px 0 #000, 
      2px -2px 0 #000, 
      -2px 2px 0 #000, 
      2px 0 0 #000, 
      -2px 0 0 #000, 
      0 2px 0 #000, 
      0 -2px 0 #000;
  }


h3 {
    text-shadow: 
      2px 2px 0 #000, 
      -2px -2px 0 #000, 
      2px -2px 0 #000, 
      -2px 2px 0 #000, 
      2px 0 0 #000, 
      -2px 0 0 #000, 
      0 2px 0 #000, 
      0 -2px 0 #000;
  }

  .textos-home{
    text-shadow: 
    2px 2px 0 #000, 
    -2px -2px 0 #000, 
    2px -2px 0 #000, 
    -2px 2px 0 #000, 
    2px 0 0 #000, 
    -2px 0 0 #000, 
    0 2px 0 #000, 
    0 -2px 0 #000;
}

  /* Formato Links */

  a:visited {
    color: inherit;
    text-decoration: none;
  }

  /*Formato Arituculo Princial*/

.contenido-principal{
    text-align: center;
}



/* Grid Index */

.grilla-index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: fit-content;
    }
    
.titulo { grid-area: 1 / 1 / 2 / 6; }
.grilla-nav { grid-area: 2 / 1 / 4 / 2; }
.grilla-mision { grid-area: 2 / 2 / 4 / 6; }
.grilla-valores { grid-area: 4 / 2 / 7 / 6; }
    