*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Font cabecera */
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/*formato titulo principal*/

.titulo{
    text-align: center; 
    padding-bottom: 1%;
    color:black;
    background-color: white;

}

/* Font Principal */
.font-principal {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white
}

/* Formato Cabecera */

.cabecera{
    text-align: center;

}

/*Formato Banner*/

.banner{
    object-fit: fill;
    height: 150px;

}

/* color fondo */

.color-fondo{
    background-color: #2B60B3;

}

/* Formato footer */

.footer{
    color:black;
    background-color: white;
}


/* Formato Body */

body{
    background-image: url('/Imagenes/beautiful-young-woman-home-office-working-from-home-teleworking-concept.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 

}

/*formato navegador*/


aside{
	position: sticky;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

/* Formato Main */

main{
    gap: 33rem
}

/*formato items navegador*/

.navegador{
    color: white

}

/*formato articulo*/

article{
    padding: 3rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

/*Formato Imagenes Porfolio*/

.imagen-porfolio{
    height: 300px;
    width: 300px;
    margin: 35px;

}

/*Formato Porfolio*/

.h3{
    padding: 2rem;
}

.elemento-porfolio{
    text-align: center;

}

/*Formato Formulario de Contacto*/

.formulario{
    background-color: #2B60B3;
    align-content: center;

    
}
.button[type="submit"]:hover {
    background-color: #4cae4c;
}

.valores{
    color: white

}