/*Formato Formulario de Contacto*/

.formulario{

    align-content: center;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
}
.button[type="submit"]:hover {
    background-color: #4cae4c;
}

.valores{
    color: white

}

.btn{
    width: 120px;
  }



 