/*Formato Navegador*/

.navbar{
    background-color: $MainColor;


}

.a{
    text-align: center;
    padding: 5%;

}

.text-muted{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.item-nav{
    padding: 3%
}


.item-nav:hover{
    background-color: $MainColor;
}

.navbar-toggler{
    margin-left: 1%;
}

.navbar-dark{
    background-color: white;

}